---
import { Icon } from "astro-icon/components";
import tw from "clsx";
import type { Project } from "../constants";

const { name, status, icon, url, repo } = Astro.props as Project;
---

<div
  class={tw(
    "flex flex-col gap-y-2 w-full sm:max-w-[16rem]",
    status !== "ready" && "opacity-40"
  )}
>
  <a
    href={status === "ready"
      ? url ?? (repo && repo.url) ?? undefined
      : undefined}
    class={tw(
      "group focus:outline-none",
      status === "ready" ? "cursor-pointer" : "cursor-not-allowed"
    )}
  >
    <div
      class={tw(
        "bg-bg-400 dark:bg-bg-dark-400 w-full sm:w-64 h-32 rounded flex justify-center items-center text-bg-100 dark:text-bg-dark-100",
        status === "ready" &&
          "group-hover:-translate-y-2 group-focus:-translate-y-2 scale transition-all duration-100 ease-out group-hover:bg-fg-500 group-hover:dark:bg-fg-dark-500 group-focus:bg-fg-500 group-focus:dark:bg-fg-dark-500 border-2 border-transparent group-focus:border-bg-100 group-focus:dark:border-bg-dark-100"
      )}
    >
      <Icon
        name={icon}
        class={tw(
          "w-12 h-12",
          status === "ready" &&
            "group-hover:text-fg-100 group-hover:dark:text-fg-dark-100 group-focus:text-fg-100 group-focus:dark:text-fg-dark-100"
        )}
      />
    </div>
  </a>

  <div class="flex flex-col gap-y-1 break-words">
    <div
      class={tw(
        "flex items-center justify-between gap-x-2",
        status !== "ready" && "text-bg-100 dark:text-bg-dark-100"
      )}
    >
      <p class="uppercase font-bold">
        {name}
      </p>

      {
        status !== "ready" && (
          <p class="text-xs font-bold">{status.toUpperCase()}</p>
        )
      }
    </div>

    <div class="flex flex-col break-words">
      {
        url && (
          <a
            href={status === "ready" ? url : undefined}
            class={tw(
              "flex gap-x-2 items-center group focus:outline-none text-bg-300 dark:text-bg-dark-300",
              status === "ready"
                ? "transition-colors duration-100 hover:text-bg-100 hover:dark:text-bg-dark-100 focus:text-bg-100 focus:dark:text-bg-dark-100"
                : "cursor-not-allowed"
            )}
          >
            <Icon
              name="tabler:link"
              class="min-h-[1rem] min-w-[1rem] w-4 h-4"
            />
            <p class="line-clamp-1">{url}</p>
          </a>
        )
      }

      {
        repo && (
          <a
            href={status === "ready" ? repo.url : undefined}
            class={tw(
              "flex gap-x-2 items-center group focus:outline-none text-bg-300 dark:text-bg-dark-300",
              status === "ready"
                ? "transition-colors duration-100 hover:text-bg-100 hover:dark:text-bg-dark-100 focus:text-bg-100 focus:dark:text-bg-dark-100"
                : "cursor-not-allowed"
            )}
          >
            <Icon name="tabler:brand-github" class="min-w-min w-4 h-4" />
            <p class="line-clamp-1">{repo.label}</p>
          </a>
        )
      }
    </div>
  </div>
</div>
