---
import { CompassSchema } from "@constants";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import tw from "clsx";
import { buildTheme, createConfig } from "ephemurl-db";
import packageJson from "../../package.json";
import Compass from "../components/Compass.svelte";
import Nav from "../components/Nav.svelte";

const params = Object.fromEntries(Astro.url.searchParams.entries());
const ssrConfig = createConfig(params, CompassSchema);
---

<html
  lang="en"
  style={buildTheme(ssrConfig)}
  class={tw(
    (ssrConfig.theme.mode === "dark" ||
      ssrConfig.theme.mode === "system-dark") &&
      "dark",
    "transition-all duration-100 ease-out",
    "overflow-y-scroll scrollbar scrollbar-track-transparent"
  )}
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={packageJson.description} />
    <title>compass</title>

    <GoogleFontsOptimizer
      url="https://fonts.bunny.net/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
  </head>

  <body
    class="flex flex-col p-4 transition-all duration-100 ease-out sm:px-8 sm:py-4 lg:px-12 lg:py-8 gap-y-9 h-dvh font-rubik touch-manipulation"
  >
    <Nav client:load {ssrConfig} {params} />

    <Compass client:load dbId={ssrConfig.id} />
  </body>
</html>
